<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simone.myuniversity" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FourthRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FifthRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModificaPianoStudi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModificaPianoStudiAggiungi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModificaPianoStudiElimina"
            android:screenOrientation="portrait" />
        <activity android:name=".VisualizzaCarriera" />
        <activity android:name=".ModificaEsamiCheStaiSeguendo" >
        </activity>
        <activity android:name=".ModificaEsamiCheStaiSeguendoAggiungi" >
        </activity>
        <activity android:name=".ModificaEsamiCheStaiSeguendoElimina" >
        </activity>
    </application>

</manifest>
